@*
    
*@
@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body style="background-color: cadetblue;">
    <div>
        <h1 style="color: antiquewhite;">@Model World (from the view)</h1>
    </div>
</body>
</html>

